*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Oxygen', sans-serif;
}

header{
    height: 520vh;
    width: 100vw;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.753)),url(https://images.unsplash.com/photo-1533787761082-492a5b83e614?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80);
    background-repeat:repeat-y;
}


.navbar{
    
    background-color: rgb(17, 16, 16);
    height: 70px;
    font-size: 25px;
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a{
    text-decoration: none;
    padding: 20px 20px 20px 20px;
    transition: all 1s;
}

#name{
    font-size: 30px;
    padding: 20px 500px 20px 0;
}

a:hover{
    color: yellow;
}

#name:hover{
    color: rgb(7, 255, 214);
}

#home{
    width: 600px;
    height: 500px;
    position: relative;
    margin: 100px auto 0px auto;
    animation-name: slide;
    animation-duration: 1s;
    font-size: 25px;
    text-align: center;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 20px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.753)),url('https://source.unsplash.com/1600x900/?restuarant,food') ;
    background-repeat: no-repeat;
}
#home:hover{
    box-shadow: 5px 5px 7px 7px grey;
}

@keyframes slide{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }

    85%{
        transform: translateX(-10px);
    }

    100%{
        transform: translateX(5px);
        opacity: 1;
    }
}

.formm input{
    height: 50px;
    width: 50%;
    margin: 40px auto;
    border-radius: 40px;
    border: 2px solid violet;
    color: violet;
    background-color: black;
    font-size: 25px;

}

.formm input:hover{
    color: black;
    background-color: violet;
    border: 2px solid black;
}


#ourdishes{
    position: relative;
    top: 100px;
}

.titled{
    font-size: 120px;
    width: 1150px;
    margin: auto;
    text-align: center;
    transition: all 1s;
}

.titled:hover{
    color: violet;
}

.maincourse{
    font-size: 60px;
    width: 400px;
    padding: 0px 70px ;
    transition: all 1s;
}

.maincourse:hover{
    color: grey;
}
.starters{
    font-size: 60px;
    width: 400px;
    padding: 0px 70px ;
    transition: all 1s;
}
.starters:hover{
    color: grey;
}
.cardcontainer{
    /* border: 2px solid red; */
    height: 600px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;

}

.cards{
    width: 20%;
    height: 500px;
    border: 2px solid grey;
    flex-wrap: wrap;
    border-radius: 15px;
    transition: all 1s;
    transform-style: preserve-3d;
}

.cards:hover,.front{
    transform: rotateY(180deg);
}

.back{
    backface-visibility: hidden;
    position: absolute;
}

.front{
    backface-visibility: hidden;
    position: absolute;
    font-size: 24px;
    text-align: center;
}

.textfront{
    padding: 10px;
}

.btn1{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: black;
    border: 2px solid violet;
    margin: 20px;
    cursor: pointer;
    font-size: 20px;
}

.btn1:hover{
    color: black;
    background-color: violet;
    border: 2px solid black;
}

.btn1:active{
    color: black;
    background-color: rgb(0, 255, 191);
    border: 2px solid black;

}

.back img{
    border-radius: 15px;
}


.reviewhead{
    font-size: 120px;
    width: 1150px;
    margin: 100px auto;
    text-align: center;
    transition: all 1s;
}

.reviewhead:hover{
    color: violet;
}

.reviewcont{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
}

.reviewbox{
    width: 30%;
    height: 400px;
    border: 2px solid violet;
    border-radius: 15px;
}

.name{
    font-size: 33px;
    padding: 30px;
}

.theirview{
    font-size: 20px;
    margin-top: 20px;
    padding: 20px;
}

.name img{
    height: 70px;
    width: 70px;
   margin: 10px 10px 0px 0px;
    float: right;
}

.reviewbox:hover{
    box-shadow: 5px 5px 7px 7px violet;   
}

.write{
    font-size: 30px;
    padding: 35px;
    height: 600px;
    text-align: center;
}

.form1 input{
    border: 2px solid grey;
    text-align: center;
    display: block;
    width: 50%;
    margin: 10px auto;
    height: 60px;
    font-size: 30px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.753)),url('https://source.unsplash.com/1600x900/?restuarant,food') ;
} 

.form2 input{
    border: 2px solid grey;
    text-align: center;
    display: block;
    width: 50%;
    margin: 10px auto;
    height: 400px;
    font-size: 30px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.753)),url('https://source.unsplash.com/1600x900/?restuarant,food') ;

}

#footer{
    background-color: white;
    margin: 50px 0 0 0;
    height: 250px;
}

.logocontainer{
    display: flex;
    align-items: center;
}

.logocontainer a img{
    width: 70px;
    height: 60px;
}